<h1>Cocktails Del Arte</h1>
<ul>
<% @cocktails.each do |cocktail| %>
  <h2>#<%= cocktail.id%> - <%= link_to cocktail.name, cocktail_path(cocktail) %>
    <%= image_tag cocktail.picture.url(:thumb) if cocktail.picture %>
  </h2>
<% end %>
</ul>

<%= link_to "create a new cocktail", new_cocktail_path, {class: "btn btn-danger"} %>
